-r requirements_dev.txt
aiodiscover
aiohttp-cors
scapy
janus
fnv-hash-fast
psutil-home-assistant
pytest-homeassistant-custom-component @ git+https://github.com/MatthewFlamm/pytest-homeassistant-custom-component@0.13.87
