-r requirements_dev.txt
aiodiscover
aiohttp-cors
scapy
janus
fnv-hash-fast
psutil-home-assistant
#pytest-homeassistant-custom-component==0.13.42 # HA core 2023.7.0
#pytest-homeassistant-custom-component==0.13.85 # HA core 2023.12.3
pytest-homeassistant-custom-component @ git+https://github.com/MatthewFlamm/pytest-homeassistant-custom-component@0.13.87 # HA core 2024.1.0
