aiodiscover
aiodhcpwatcher
aioesphomeapi
aiohttp-cors
aiousbwatcher
async_upnp_client
av
debugpy
fnv-hash-fast
go2rtc_client
gtts
ha-ffmpeg
hassil
home-assistant-intents
homeassistant
infrared-protocols
janus
mutagen
psutil-home-assistant
pymicro_vad
pyspeex_noise
pyturbojpeg<=1.9.9
radios
rf-protocols
scapy
serialx
uv
zlib-ng